.contenedor{
    display: flex;
    justify-content: space-between;
}
.imageninicio{
  width: 30%    ;
}
body{
background-color: black;
}
h1{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
   margin-left: 250px;
    color: snow;
    text-decoration: underline;
    
}
header{
    background-color: #007bff;
padding: 10PX;
display: flex;
justify-content: center;
font-size: larger;
border-radius: 30px;
border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
a{
color: white;
text-decoration: none;
margin-left: 10px;
   

}

a:hover {
    color: aquamarine; 
    text-decoration: underline; 
}
section{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: inset 10px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    font-size: large;
    color: snow  ;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
img{
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    display: flex;
   justify-items: center;
    margin-left: 300px;
    margin-bottom: 20px;

   
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.inicio{
    color: aqua;
    padding-top: 10px;
    font-size: larger;
    
}
div{
    background-color: aqua;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
    

}
.card-text{
    color: black;
}
.cabecerae{
  margin-left: 10px;
    text-decoration: underline; 
    
}
.cabecera{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline; 
    color: aqua;
font-size: xx-large;
    padding-top: 10px;
}
.lenguaje{
    color: blue;
    margin-left: 300px;
    margin-top: 100px;

}
.opinion{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    text-decoration: underline;
    font-size: larger;
}
div{
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
button{
    background-color: aqua;
    color: white;
}
.fecha{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    
}